table.apercu-donnees {
    table-layout: fixed;
    width: 100%;
    word-break: break-word;
    td:empty {
        background: $orange-color;
    }
}

.error {
    background-color: $orange-clair-color;
}

.success {
    background-color: #ddeedd;
}

.feedback {
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #eef;
}