nav.breadcrumb {
    * {
        color: $bleu-clair;
    }
    >ul {
        >li {
            list-style: none;
            display: inline-flex;
            font-size: 0.95em;
            &.current {
                >a {
                    font-weight: bold;
                }
                &::after {
                    display: none;
                }
            }
            &::after {
                content: '>';
                margin: 0 0.3em;
            }
        }
    }
}