li.categorie-item {
    background-color: #cfdbda;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 8px;
    margin-bottom: 2px;

    a {
        color: #222;
        padding: 4px 8px;
        display: block;
        text-decoration: none;
        font-size: 110%;
    }
    
    .icon {
        height: 16px;
        width: 16px;
        display: inline-block;
        background-size: contain;
        margin-top: 4px;
    }

    &.categorie-1 {
        background-color: #92a6f1;
        .icon {

        }
    }
    &.categorie-2 {
        background-color: #dd8d91;
    }
    &.categorie-3 {
        background-color: #F4C095;
        .icon {
            background-image: url("/ptut/img/carrot.svg");
        }
    }
    &.categorie-4 {
        background-color: #91c4b9;
    }

    &:hover {
        opacity: 0.8;
    }
}