@font-face {
    font-family: "klavika";
    font-weight: normal;
    src: url("/ptut/font/klavika-light.otf");
}

@font-face {
    font-family: "klavika";
    font-weight: bold;
    src: url("/ptut/font/klavika-medium.otf");
}

@font-face {
    font-family: "anson";
    font-weight: normal;
    src: url("/ptut/font/anson-regular.otf");
}