iframe.google-map {
    /* si height non saisie,
    l'iframe peut avoir une taille dynamique,
    très très ennuyant pour le visiteur */
    width: 100%;
    height: 100%;
}

.map-holder {
    height: 300px;
    width: 100%;
    background-color: $couleurFond;
    border-radius: 5px;
}

#gmap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    margin-bottom: 1em;
    border-radius: 4px;
    background-color: $couleurFond;
    animation: gmap-fade 300ms;
    >.chargement {
        color: $couleurFond;
    }
}

@keyframes gmap-fade {
    from {
        background-color: white;
    }
    to {
        background-color: $couleurFond;
        ;
    }
}