.main-nav {
    font-family: "klavika";
    font-weight: normal;
    font-size: 1.3em;
    
    background-color: $red-color;

    >ul {
        margin: auto;
        max-width: 1400px;
        width: 100%;
        display: flex;
        flex-direction: row;
        list-style-type: none;
        >li {
            display: flex;
            flex: 1;
            a {
                display: flex;
                flex: 1;
                justify-content: center;
                padding: 12px 0;
                align-items: center;
                background-color: $red-color;
                color: white;
                text-decoration: none;
                &:hover {
                    background-color: $dark-red-color;
                }
            }
        }
    }
}

.search-container {
    form.search-form {
        display: flex;
        flex-direction: row;
        flex: 1;

        input[type="search"] {
            background-color: $blanc-casse;
            padding-left: 1em;
            flex: 1;
        }
        button[type="submit"] {
            background-color: $red-color;
            border-radius: 0px;
        }
    }
}