form.news {
    input[type="text"],
    input[type="submit"],
    textarea {
        display: block;
        width: 100%;
        border: 1px solid black;
        border-radius: 3px;
    }
    button[type="submit"] {
        background-color: $blue-color;
        color: white;
        border: none;
        width: 100%;
        margin-top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        &:hover {
            background-color: $dark-blue-color;
        }
    }
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6,
    .p {
        font-family: sans-serif;
    }
}

a.button-annuler {
    background-color: $grey-color;
    padding: 1px 12px;
    flex: 1;
}

a.button-annuler:hover {
    background-color: $dark-grey-color;
}

a.button-save {
    background-color: $green-color;
    color: white;
    padding: 1px 12px;
    flex: 1;
}

a.button-save:hover {
    background-color: $dark-green-color;
}

button#remove-button {
    background-color: $true-red-color;
    color: rgb(255, 255, 255);
}

div.div-bouton {
    display: flex;
    border-radius: 4px;
    overflow: hidden;
    text-align: center;
}

div.div-bouton > a {
    text-decoration: none;
}

ul.latest-news {
    list-style: none;

    > li {
        height: 100%;
        > a {
            height: 100%;
            overflow: hidden;
            background-color: $grey-color;
            display: block;
            border-radius: 8px;
            text-decoration: none;

            &:hover {
                opacity: 0.95;
            }

            header {
                padding: 0.5em 1em;
                background-color: $red-color;
                h3 {
                    color: #fafafa;
                    font-size: 1.5em;
                }
                p {
                    color: #eeeeee;
                }
            }
        }
    }
}

article.news {
    > h2, h3 {
        margin-top: 0.5em;
    }
}