@import "./variable.scss";
@import "./admin.scss";
@import "./breadcrumb.scss";
@import "./carousel.scss";
@import "./categorie.scss";
@import "./gmap.scss";
@import "./img.scss";
@import "./menu.scss";
@import "./news.scss";

* {
    /* reset everything */
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background-color: $blanc-rose;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(12px + 0.4vw);
    line-height: 1.4;
    color: #454545;
    background-color: $blanc-casse;
}

main {
    max-width: 1000px;
    width: 100%;
    margin: auto;
    padding-top: 0.75em;
    margin-bottom: 1em;
    >section {
        padding: 1em 0;
    }
    >header {
        text-align: center;
        margin: 0.75em 0;
        >h1 {
            margin-bottom: 0.25em;
        }
        >h2 {
            font-weight: normal;
        }
        >p {
            font-size: 1.1em;
            margin: 0.5em 0;
        }
    }
}

h1,
.h1 {
    font-weight: bold;
    font-size: 1.5em;
    color: #111;
}

h2,
.h2 {
    font-weight: bold;
    font-size: 1.25em;
    color: #222;
    margin-bottom: 0.25em;
}

h3,
.h3 {
    font-weight: bold;
    font-size: 1.125em;
    color: #333;
}

a {
    color: $bleu-clair;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.unstyled-list {
    list-style: none;
}

.inline-list>li {
    display: inline-block;
}

table,
th,
td {
    border: 1px solid black;
}

button {
    background-color: $blanc-casse;
    border: none;
    color: #000000;
    padding: 5px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

input {
    border: none;
    font-size: 16px;
}

input[type="submit"] {
    cursor: pointer;
}

.lieu.item {
    display: flex;
    flex-direction: row;
    padding: 0.5em;
    /* un sur deux */
    &:nth-child(odd) {
        background: $blanc-casse;
    }
}

.jour {
    display: inline-block;
    padding-right: 1em;
}

nav.main-buttons {
    >ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        list-style: none;
        >li {
            display: flex;
            flex: 1;
            margin: 0.25em;
            min-width: 300px;
            >a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 2em 1em;
                background-color: $blanc-casse;
                border-radius: 8px;
                text-align: center;
                width: 100%;
            }
        }
    }
}

ul.aides-etat {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    >li {
        min-width: 400px;
        flex: 1;
        >div {
            margin: 0.5em;
            padding: 0.75em;
            background-color: $blanc-casse;
            border-radius: 4px;
            min-height: 90px;
        }
        &.important {
            flex-basis: 100%;
        }
    }
}