$blockOrange: #d86417;
$blockOrangeClair: #eebbaa;
$rougeTheme: #D65858;
$darkBoutonRouge: #b94545;
$boutonRouge: #c42121;
$boutonBleu:#0074e8;
$darkBoutonBleu: #0262c2;
$fondBlock: #d6d6d6;
$darkBoutonGris: #b5c5c3;
$boutonVert: #35771f;
$darkBoutonVert: #285e16;
$bleu-clair:#6495ed;
$couleurFond:#f7f7f7;