$orange-color: #d86417;
$orange-clair-color: #eebbaa;
$red-color: #D65858;
$dark-red-color: #b94545;
$true-red-color: #c42121;
$blue-color:#0074e8;
$dark-blue-color: #0262c2;
$grey-color: #f8f8f8;
$nuance-grey: #f0efef;
$dark-grey-color: #b5c5c3;
$green-color: #35771f;
$dark-green-color: #285e16;
$bleu-clair:#6495ed;
$blanc-casse:#f7f7f7;
$blanc-rose:#feeeee;